* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color-light: 49, 129, 56;
  --bg-color-light: 246, 255, 235;

  --text-color-dark: 246, 255, 235;
  --bg-color-dark: 49, 129, 56;

  --font-mono: "DejaVu Sans Mono", "Menlo", monospace;
}
body {
  --text-color: var(--text-color-light);
  --bg-color: var(--bg-color-light);

  padding: 1ex;
  font-size: 16px;
  line-height: 2ex;
  color: rgb(var(--text-color));
  background-color: rgb(var(--bg-color));
  font-family: var(--font-mono);
}
@media (prefers-color-scheme: dark) {
  body {
    --text-color: var(--text-color-dark);
    --bg-color: var(--bg-color-dark);
  }
}

/* :::::::::::::::::::::::::::::::::: */
/*               LAYOUT               */
/* :::::::::::::::::::::::::::::::::: */
.grid {
  display: grid;
  grid-template-columns: 10ch 1fr;
  gap: 1ex 2ch;
}
.right {
  text-align: right;
}

/* :::::::::::::::::::::::::::::::::: */
/*             TYPOGRAPHY             */
/* :::::::::::::::::::::::::::::::::: */

/* ············· utility ············ */
.nomargin {
  margin: 0;
}
section + section {
  margin-top: 2ex;
}
code {
  margin: 0;
  padding: 0;
  background: rgba(var(--text-color), 0.1);
}

/* ············ headings ············ */
h1,
h2,
h3 {
  line-height: 1.75ex;
  margin-bottom: 1ex;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

/* ············ body copy ··········· */
p,
span {
  font-size: 1rem;
}

/* ·············· links ············· */
a {
  color: rgb(var(--text-color));
  background: none;
}
a:hover {
  color: rgb(var(--bg-color));
  background: rgb(var(--text-color));
}
